
EmployeeSignIn/bin/Debug/netcoreapp3.1/appsettings.Development.json
EmployeeSignIn/bin/Debug/netcoreapp3.1/appsettings.json
EmployeeSignIn/bin/Debug/netcoreapp3.1/Azure.Core.dll
EmployeeSignIn/bin/Debug/netcoreapp3.1/Azure.Storage.Blobs.dll
EmployeeSignIn/bin/Debug/netcoreapp3.1/Azure.Storage.Common.dll
EmployeeSignIn/bin/Debug/netcoreapp3.1/EmployeeSignIn.deps.json
EmployeeSignIn/bin/Debug/netcoreapp3.1/EmployeeSignIn.dll
EmployeeSignIn/bin/Debug/netcoreapp3.1/EmployeeSignIn.exe
EmployeeSignIn/bin/Debug/netcoreapp3.1/EmployeeSignIn.pdb
EmployeeSignIn/bin/Debug/netcoreapp3.1/EmployeeSignIn.runtimeconfig.dev.json
EmployeeSignIn/bin/Debug/netcoreapp3.1/EmployeeSignIn.runtimeconfig.json
EmployeeSignIn/bin/Debug/netcoreapp3.1/EmployeeSignIn.Views.dll
EmployeeSignIn/bin/Debug/netcoreapp3.1/EmployeeSignIn.Views.pdb
EmployeeSignIn/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
EmployeeSignIn/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
EmployeeSignIn/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
EmployeeSignIn/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
EmployeeSignIn/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
*.dll
EmployeeSignIn/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
EmployeeSignIn/obj/Debug/netcoreapp3.1/_IsIncrementalBuild
EmployeeSignIn/obj/Debug/netcoreapp3.1/apphost.exe
EmployeeSignIn/obj/Debug/netcoreapp3.1/EmployeeSignIn.AssemblyInfo.cs
*.cache
*.CopyComplete
*.txt
*.editorconfig
*.pdb
EmployeeSignIn/obj/Debug/netcoreapp3.1/EmployeeSignIn.RazorAssemblyInfo.cs
EmployeeSignIn/obj/Debug/netcoreapp3.1/EmployeeSignIn.RazorTargetAssemblyInfo.cs
EmployeeSignIn/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
EmployeeSignIn/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
EmployeeSignIn/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
EmployeeSignIn/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
EmployeeSignIn/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
EmployeeSignIn/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
EmployeeSignIn/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.build.EmployeeSignIn.props
EmployeeSignIn/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
*.props
EmployeeSignIn/obj/EmployeeSignIn.csproj.nuget.dgspec.json
EmployeeSignIn/obj/EmployeeSignIn.csproj.nuget.g.targets
EmployeeSignIn/obj/project.assets.json
